table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border-bottom: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f8f8f8;
  border-bottom: 2px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 10;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #eaeaea;
}

.tableContainer {
  overflow-y: auto;
  max-height: 400px;
}