@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Fira Code', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #15202b; /* Dark background */
  color: #e0e0e0; /* Lighter text */
}

table {
  border-collapse: collapse;
  margin: auto;
  color: #ffffff; /* White text for readability */
}

th, td {
  border: 1px solid #aaa; /* Darker borders for elements */
  padding: 10px;
  text-align: left;
  border-top: 0;
}

thead {
  background-color: #aaa; /* Darker background for table headers */
}

thead th {
  position: sticky;
  top: 0;
  background-color: #1d3a5f;
  z-index: 1; /* Ensures the header is above other content */
}